.start-browsing {
    width: 100px;
}

.login-icon {
    font-size: 40px;
    text-decoration: none;
}

.hardcode-menu {
    left: 50px !important;
}

.logo {
    width: 85%;
}

.style-text {
    font-size: 20px;
    text-align: center;
}

.align-spinner {
    margin-left: 210px;
}

.link-style-card {
    text-decoration: none;
    color: black;
}

.link-style-card:hover {
    text-decoration: none;
    color: black;
}

.carg-img {
    width:100%;
}

.fix-margin {
    margin-right: 0px;
    margin-left: 0px;
}